    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
    }

    .header,
    .main-section {
        padding-top: 0;
        background-color: #EEEFF1;
    }

    .header {
        position: fixed;
        width: 100%;
    }

    .fixed-container {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1360px;
    }

    .menu-container {
        padding-top: 65px;
        display: flex;
        justify-content: space-between;
        position: sticky;
    }

    .logo {
        padding-left: 100px;
    }

    .logo-pict {
        height: 100px;
        margin-top: -70px;
    }

    .header-menu {
        padding-top: 6px;

    }

    .menu {
        display: flex;
    }

    .header-menu ul li {
        text-transform: uppercase;
        list-style-type: none;
        letter-spacing: 1.3px;
        font-size: 16px;
    }

    .header-menu ul li a {
        text-decoration: none;
        font-weight: 500;
        margin-left: 45px;
    }

    .header-menu ul li a:hover {
        color: red;
    }

    .burger-icon {
        display: none;
        margin-top: 1px;
        margin-left: 20px;
    }

    .burger-icon span {
        display: block;
        height: 7px;
        width: 45px;
        background-color: rgb(41, 85, 85);
    }

    .burger-icon span:nth-child(2) {
        margin: 6px 0px;
    }

    .section-container {
        display: flex;
        justify-content: space-between;
        padding-top: 250px;
        padding-bottom: 145px;

    }

    .laptop {
        padding-left: 303px;
        padding-top: 20px;
    }

    .caption {
        font-size: 48px;

    }

    .right-part {
        padding-left: 132px;
    }

    .description {

        margin-top: 42px;
        line-height: 27px;
        width: 540px;

    }

    .button {
        margin-top: 53px;
        height: 65px;
        width: 225px;
        background-color: #34547A;
        color: white;
        font-size: 16px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }

    .button:hover {
        background-color: rgb(48, 56, 83);
    }

    .section-content {
        padding: 400px 100px;
    }

    #about-me {
        background-color: #F9F9F9;
        display: flex;
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .content-about {
        justify-content: center;
        max-width: 540px;
    }

    #portfolio {
        max-width: auto;
        display: flex;
        align-items: center;
        background-color: #34547A;
        height: auto;
        margin-top: -5p
        
    }

    .portfolio-link {
        max-width: 100%;
    }

    .portfolio-links {
        display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .portfolio-links ul {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .portfolio-links li {
        list-style-type: none;
       
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .progress {
        width: 40%;
    }

    @media (max-width: 450px) {
        .progress {
            width: auto;
        }
        .progress h2 {
            font-size: 20px;
            margin-bottom: 10;
        }
        .skills span {
            font-size: 10px;
        }
    }

    .progress h2 {
        margin-bottom: 30px;
    }

    .me {
        width: 40%;
    }

    .skills span {
        color: #727272;
    }

    .skills-img {
        width: 100%;
        padding-top: 102px;
        padding-bottom: 101px;
    }

    progress {
        background-color: #f3f3f3;
        border: 0;
        height: 4px;
        width: 100%;
      }

      progress::-webkit-progress-bar {
        background-color: #C4C4C4;
        border: 0;
        height: 4px;
        
      }
      progress::-webkit-progress-value {
        background-color: #34547A;
        border: 0;
        height: 4px;
        
      }

    #process {
        background-color: #EEEFF1;
    }

    .content-about h2 {
        font-size: 30px;
        text-align: center;
    }

    .text-about {
        padding-top: 45px;
        text-align: center;
        color: #727272;
        line-height: 25px;
    }

    #process {        
        
        padding-top: 100px;
    }

    .process-content {   
        display: flex;
        flex-direction: column;
        align-items: center;       
        justify-content: center;
    }

    .worked {
        justify-content: center;
        max-width: 540px;
    }

    .worked h2 {
        font-size: 30px;
        text-align: center;
    }

    .worked-text {
        padding-top: 45px;
        text-align: center;
        color: #727272;
        line-height: 25px;
        justify-self: center;
        align-self: center;
    }

    .process-video {
        padding-top: 57px;
        padding-bottom: 100px;
    }
    .process-video img {
        width: 100%;
    }


    .first-line {
        display: flex;
        
       
    }

    .second-line {
        margin-top: -5px;
        display: flex;
    }    

    .decoration img {width: 100%;}

    .decoration a { 
        display: block; 
        position: relative; }

    .decoration a:after { 
        content: ''; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        background: rgba(52,84,122,.8);  
        opacity: 0; }

    .decoration a:before { 
        content: ''; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        background: url(image/view.png) no-repeat;
        background-position: center;
        z-index: 10;
        opacity: 0; }

    .decoration a:hover:before,

    .decoration a:hover:after { opacity: 1; }

    .microsoft li {
        list-style-type: none;
    }
    

    .microsoft-links {
        display: flex;
        justify-content: center;
    }

    .microsoft li {
        width: 13%; 
        margin: 1.5%;
        justify-content: center;       
    }

    .microsoft img {width: 100%;}

    #contacts {
        background-color: #EEEFF1;
        padding-top: 142px;
    }

    .contacts {   
        padding-bottom: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;       
        justify-content: center;
    }

    .contacts-text {
        justify-content: center;
        max-width: 540px;
    }

    .contacts-text h2 {
        font-size: 30px;
        text-align: center;
    }

    .worked-text {
        padding-top: 45px;
        text-align: center;
        color: #727272;
        line-height: 25px;
        justify-self: center;
        align-self: center;
    }

    form {
        width: 540px;
        height: 350px;
        padding-bottom: 270px;
    }
    
    .form-fline {
        display: flex;
        justify-content: space-between;
        margin-top: 92px;
    }

    input, textarea {
        outline: none;
        border: none;
        border: solid 1px #f2f2f2;
        }

    .form-fline textarea {
        resize: none;
        overflow: auto;
        padding: 24px 20px;
        width: 47%;
        height: 30px;
        font-size: 14px;
    }

    #formmail {
        margin-left: 30px;
    }

    .form-sline textarea {
        box-sizing: border-box;
        resize: none;
        overflow: auto;
        padding: 24px 20px;
        width: 100%;
        height: 249px;
        margin-top: 28.56px;
        margin-bottom: 72px;
        font-size: 14px;
     }

    .formcontacts .buttons {
        display: flex;
        justify-content: center;
    }


    .back {
        margin-left: 50px;
        font-size: 16px;
    }

    form button {
        width: 190px;
        height: 78px;
        background-color: #34547A;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
    }

    @media (max-width: 600px) {
        form {
            width: auto;
            height: auto;
        }
        .form-fline input {            
            height: 20px;
        }
        .form-sline input {
            height: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        form button {
            width: 100px;
            height: 35px;
        }
    }

    footer .fixed-containerr{
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: #34547A;
    }

    .copyright{
        color: white;
    }

    .copyright  .name  {
        font-size: 21px;
    }

    .copyright  .right  {
        font-size: 13px;
    }

        @media screen and (max-width: 1350px) {
        .description {
            margin-bottom: 70px;
            width: 100%;
        }

        .right-part {
            padding-left: 80px;
        }

        .laptop {
            padding-left: 20px;
        }
    }

    .mobile-container {        
        display: none;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 12;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.8s ease 0s;
    }

    .mobile-container:target {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .popup__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .header-mobile {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 310px;
        height: 380px;
        background-color: rgba(79, 128, 192);
        border: 1px solid grey;
        border-radius: 10px;
        overflow: auto;
        font-size: 14px;
    }

    .close-icon {
        width: 18px;
        padding-top: 12px;
    }

    .close-icon span {
        position: absolute;
        top: 20px;
        left: 270px;
        display: block;
        height: 1px;
        width: 20px;
        background: yellow;
    }

    .close-icon span:first-child {
        transform: rotate(45deg);
    }

    .close-icon span:last-child {
        transform: rotate(-45deg);
    }

    .mobile-list {
        padding-left: 25px;
        margin-top: 0px;
        padding-top: 65px;
        list-style-type: none;
        padding-left: 0;
        font-size: 18px;
    }

    .mobile-list li {
        text-align: center;
        padding-bottom: 10px;
        letter-spacing: -0.36px;
        padding-top: 9px;
        margin: 0 auto;
        border-bottom: 1px solid lightslategray;
        width: 120px;
        text-transform: uppercase;
    }

    .mobile-list a {
        text-decoration: none;
        color: white;
        outline: none;

    }

    .mobile-list a:hover {
        color: tomato;
    }

    @media screen and (max-width: 1005px) {
        .logo {
            padding-left: 0;
        }

        .logo-pict {
            width: 50px;
            height: 50px;
        }

        .header-menu {
            display: none;
        }

        .section-container {
            display: block;
            align-content: center;
            padding-top: 50px;
            margin: 0 auto;
            justify-content: center;
        }

        .right-part {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }

        .laptop {
            margin: 0 auto;
            padding: 0;
            padding-top: 50px;
            text-align: center;
        }

        .caption {
            font-size: 24px;
        }

        .menu-container {
            padding-top: 30px;
        }

        .burger-icon {
            display: block;
        }
    }

    @media screen and (max-width: 400px) {

        .laptop-img {
            width: 200px;
        }

        .burger-icon {
            display: block;
        }

        .burger-icon span {
            height: 2px;
            width: 20px;
        }

        .button {
            height: 40px;
            width: 150px;
            margin-top: 10px;
            font-size: 12px;
        }
        .foot img{
            width: 100px;        
        }
        #portfolio img {
            width: 50px;
        }
    }